.App {
  background-color: rgb(255, 187, 180);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3%;
  height: 100vh;
}

button {
  font-size: larger;
  height: 50px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  background-color: bisque;
  
}

button:hover {
  background-color: salmon;
  color: #fff;
}

